/* Global styling */
* {
    margin: 0;
    padding: 0;
}
body {
    font-size: 18px;
    width: 1440px;
    font-family: 'Kumbh Sans', sans-serif;
    background: url('images/bg-pattern-top.svg'), url('images/bg-pattern-bottom.svg');
    background-color: #19a2ae;
    background-repeat: no-repeat;
    background-position: right 50vw bottom 10vh, left 50vw top 45vh; 
}
header {
    height: 8.3em;
    width: 100%;
}
header img {
    height: 8.3em;
    width: 100%;
    object-fit: fill;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.container {
    position: relative;
    background: white;
    top: 90px;
    right: 25px;
    height: 425px;
    width: 400px;
    margin: 0 auto;
    box-shadow: 0 20px 40px -20px #777;
    border-radius: 10px;
}

/* Top of the card */
.card-header {
    position: relative;
    text-align: center;
    bottom: 15px;
}
.card-header-img {
    display: block;
    position: relative;
    bottom: 35px;
    margin: 0 auto;
    border: 5px solid white;
    border-radius: 50%;
}
.card-name {
    color: hsl(229, 23%, 23%);
    padding-bottom: 15px;
    font-size: 22px;
    font-weight: 700;
}
.card-age {
    color: hsl(0, 0%, 59%);
    font-size: 22px;
    font-weight: 400;
    padding-left: 5px;
}
.card-city {
    color: hsl(0, 0%, 59%);
    padding-top: 15px;
}

/* Bottom of the card */
.card-stats {
    display: flex;
}
.card-stat-item {
    position: relative;
    height: 120px;
    top: 5px;
    flex-grow: 3;
    text-align: center;
    border-top: 1px solid silver;
} 
.card-stat-item p {
    position: relative;
    top: 40px;
    padding-right: 14px;
}
.card-stat-num {
    font-weight: 700;
}
.card-stat-str {
    font-weight: 400;
    font-size: 15px;
    color: hsl(0, 0%, 59%);
    padding-top: 9px;
}

footer {
    position: absolute;
    bottom: 0;
    left: 41%;
}
